.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.ldiv {
    position: relative;
    height: 100px;
    width: 100px;
    border: 5px dotted white;
    background: linear-gradient(
        90deg,
        rgba(87, 158, 255, 1) 0%,
        rgba(245, 245, 245, 0.505) 100%
    );

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    border-radius: 50%;
    animation: spin 0.8s infinite linear;
}

.hidden {
    display: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
